<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-screen h-screen absolute sepia z-[-1]">
    <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
  </div>

  <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
    VIDEOFLIX
  </span>

  <div
    class="login-container flex flex-col h-[90%] w-[50%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl"
  >
    <h2 class="sign-in-text text-5xl text-white mt-20">Sign In</h2>

    <div class="email-input p-5 w-[80%] h-[13%] mt-10">
      <input class="rounded-md w-full h-full p-5" placeholder="Email Adress" />
    </div>

    <div class="password-input p-5 w-[80%] h-[13%] mt-10">
      <input class="rounded-md w-full h-full p-5" placeholder="Password" />
    </div>

    <div class="sign-button p-5 w-[80%] h-[13%] mt-5">
      <button
        class="p-2 bg-red-500 font-medium text-lg text-white h-full w-full rounded-md hover:bg-red-600"
      >
        Sign In
      </button>
    </div>

    <div
      class="seperator p-5 w-[80%] h-[13%] mt-3 flex justify-center items center"
    >
      <span class="text-white text-xl">OR</span>
    </div>

    <a class="text-white text-xl hover:text-slate-400" href="#"
      >Forgot Password?</a
    >
    <div
      class="new-user-question w-[80%] h-[13%] flex justify-center gap-5 items-center"
    >
      <span class="text-white text-xl">New to Videoflix?</span
      ><a class="text-slate-400 hover:text-red-500 text-xl" href="#"
        >Sign up Now.</a
      >
    </div>
  </div>
</section>
