<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-screen h-screen absolute sepia-[.60] z-[-1]">
    <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
  </div>

  <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
    VIDEOFLIX
  </span>

  <div
    class="reset-container flex flex-col h-[90%] w-[35%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl relative"
  >
    <div
      routerLink="/"
      class="arrow-container w-10 h-10 bg-white rounded-full absolute left-10 top-10 flex justify-center items-center cursor-pointer hover:bg-slate-200"
    >
      <img class="w-1/2 h-1/2" src="../../../../assets/images/left-arrow.png" />
    </div>

    <h2
      class="sign-in-text text-center text-4xl text-white mt-20 font-medium w-[80%]"
    >
      Create your Videoflix Account
    </h2>

    <div class="name-input p-5 w-[80%] h-[13%] mt-10">
      <input
        [(ngModel)]="fullName"
        type="text"
        class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
        placeholder="Your Name"
      />
    </div>

    <div class="email-input p-5 w-[80%] h-[13%] mt-5">
      <input
        [(ngModel)]="email"
        type="email"
        class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
        placeholder="Email Address"
      />
      @if(this.emailTypeError){
      <p class="text-red-700 text-lg mt-1 mx-2">
        Please enter a valid Email Address.
      </p>
      } @else if(!this.emailTypeError && this.userExistsError){
      <p class="text-red-700 text-lg mt-1 mx-2">
        Email Address already exists.
      </p>
      }
    </div>

    <div class="password-input p-5 w-[80%] h-[13%] mt-5">
      <input
        [(ngModel)]="pwd1"
        type="password"
        class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
        placeholder="Password"
      />
      @if(this.pwdMatchError){
      <p class="text-red-700 text-lg mt-1 mx-2">Your Passwords don't match.</p>
      }
    </div>

    <div class="confirm-password-input p-5 w-[80%] h-[13%] mt-5">
      <input
        [(ngModel)]="pwd2"
        type="password"
        class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
        placeholder="Confirm password"
      />
    </div>

    <div class="reset-button p-5 w-[80%] h-[13%] mt-5">
      <button
        (click)="registerUser()"
        [@register]="showAnimation ? 'registered' : 'unregistered'"
        class="p-2 bg-red-700 font-medium text-lg text-white h-full w-full rounded-xl hover:bg-red-500"
      >
        {{ showAnimation ? "Account Created!" : "Create Account!" }}
      </button>
    </div>
  </div>
</section>
