<section class="w-screen h-screen flex justify-center items-center">
    <div class="w-screen h-screen absolute sepia-[.60] z-[-1]">
      <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
    </div>
  
    <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
      VIDEOFLIX
    </span>
  
    <div
      class="reset-container flex flex-col h-[80%] w-[35%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl relative"
    >
     
        @if(showForm || showPasswordChanged){
            <div
            routerLink="/"
            class="arrow-container w-10 h-10 bg-white rounded-full absolute left-10 top-10 flex justify-center items-center cursor-pointer hover:bg-slate-200"
          >
            <img class="w-1/2 h-1/2" src="../../../../assets/images/left-arrow.png" />
          </div>
        }
     
      @if(showForm){
        <h2
        class="sign-in-text text-center text-4xl text-white mt-28 font-medium w-[80%]"
      >
        Set your new Password!
      </h2>
      }
      @else if (showLoading) {
        <h2
        class="sign-in-text text-center text-4xl text-white mt-28 font-medium w-[80%]"
      >
        Changing your Password...
      </h2>
      }
      @else if (showPasswordChanged) {
        <h2
        class="sign-in-text text-center text-4xl text-white mt-28 font-medium w-[80%]"
      >
        Password changed successfully!
      </h2>
      }
      
     @if(showForm){
        <div class="password-input p-5 w-[80%] h-[15%] mt-5">
            <input
              [(ngModel)]="pwd1"
              type="password"
              class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
              placeholder="Password"
            />
            @if(this.pwdMatchError){
            <p class="text-red-700 text-lg mt-1 mx-2">Your Passwords don't match.</p>
            }
          </div>
      
          <div class="confirm-password-input p-5 w-[80%] h-[15%] mt-5">
            <input
              [(ngModel)]="pwd2"
              type="password"
              class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
              placeholder="Confirm password"
            />
          </div>
      
          <div class="reset-button p-5 w-[80%] h-[15%] mt-5">
            <button
              
              (click)="changePassword()"
              class="p-2 bg-red-700 font-medium text-lg text-white h-full w-full rounded-xl hover:bg-red-500"
            >
              Change Password!
            </button>
          </div>
     }
      


       @if(showLoading && !showForm){
      <div class="spinner mt-20"></div>
      } @else if(showPasswordChanged){
      <img class="mt-20" src="../../../../assets/images/check.png" />
      <h3 class="text-xl text-white text-center mt-20 font-medium w-[80%]">
        Your Password has been changed successfully. You will be redirected to the Homepage in 5 seconds..
      </h3>
      }
    </div>
  </section>
  