<nav class="absolute top-0 w-full z-10">
    <div class="nav-bar bg-[#141414]  top-0 flex justify-between items-center w-full ">
    <div class="flex items-center gap-5">
        <span class="font text-red-500 text-[28px] font-medium p-3 px-5">
        VIDEOFLIX
      </span>

      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Home</a>
      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Shows</a>
      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Movies</a>
    </div>

    <div class="flex px-8">
        <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Log Out</a>
    </div>
    </div>
</nav>


<section class="w-full h-screen flex justify-center items-center bg-[#141414] 
">
    <div class="bg-[#141414] w-full h-full flex justify-center items-center overflow-hidden">
        <div class="w-full h-full flex justify-center items-center ">
            <video #homeVideo muted loop class="min-w-screen min-h-screen" src="../../../../assets/test_videos/numbers.mp4"></video>
    </div>

    <div class="w-full flex flex-col bottom-4 h-[30%] absolute gap-2 ">
        <span class="text-white text-xl p-3 px-5 ">Watch List:</span>
       

        <div class="relative flex h-full w-full">

            <div (click)="scrollLeft()" class="arrow-left    w-[3%] min-h-[200px] max-h-[200px] flex items-center justify-center bg-transparent   cursor-pointer">
                <img src="../../../../assets/images/arrow_home_left.png">
            </div>
            
        <div #movieListContainer class="movie-list flex gap-4 h-full w-full overflow-hidden ">

         @for(movie of movieList; track $index; let last = $last){

            @if(last){
                <app-movie-card [src]="movie.src" [poster]="movie.poster" [genre]="movie.genre" [description]="movie.description" [title]="movie.title" [releaseDate]="movie.releaseDate" (openMovie)="handleMovieDetails($event)" customClass=""
                >
                     
                    <img movieCardImage class="rounded-md w-full h-full" src="{{ movie.poster }}">
                </app-movie-card>
            }
            @else{
                <app-movie-card [poster]="movie.poster" [src]="movie.src" [genre]="movie.genre" [description]="movie.description" [title]="movie.title" [releaseDate]="movie.releaseDate" (openMovie)="handleMovieDetails($event)" customClass="hover:mx-12"
                >
                     
                    <img movieCardImage class="rounded-md w-full h-full" src="{{ movie.poster }}">
                </app-movie-card>
            }
            

         }

        </div>

        

        <div (click)="scrollRight()" class="arrow-right     w-[3%] min-h-[200px] max-h-[200px] flex items-center justify-center bg-transparent  cursor-pointer">
            <img src="../../../../assets/images/arrow_home_right.png">
        </div>
    </div>
        
    </div>
    </div>

       
            <div #bgCardContainer [class]="showMovieDetails ? 'visible' : 'hidden'" class=" flex backdrop-blur-sm absolute w-screen h-screen justify-center items-center transition-all ease-in overflow-hidden">

                <div #cardContainer class="bg-[#141414] mt-5 z-50 duration-150  h-[85%] rounded-lg  bg-opacity-80 flex flex-col p-10 drop-shadow-lg">
                    <div class="exit cursor-pointer w-8  self-end" (click)="switchShowMovieDetails()">
                        <img class="w-8" src="../../../../assets/images/x.svg"> 
                    </div>
                   <div class=" video-preview w-full relative max-h-[400px] mt-5">
                    <div class="bg-white w-full flex justify-center items-center h-full absolute bg-opacity-25">
                        <img class="w-[82px] absolute z-20 cursor-pointer" src="../../../../assets/images/playbtn.svg">
                    </div>
                        <video poster="{{moviePoster}}" muted #containerVideo src="{{movieSrc}}" class="min-w-full max-h-[400px] rounded-xl" loop></video>
                   </div>
            
                   <div class="title w-full mt-8">
                    <h1 class="text-white max-w-full text-4xl">{{ movieTitle }}</h1>
                   </div>
                   <div class="description text-white  mt-5">
                    <span class="">Description:</span>
                    <p class="mt-2">{{ movieDescription }}</p>
                   </div>
            
                   <div class="genre  mt-8">
                    <span class="text-white">Genre: {{ movieGenre }}</span>
                   
                   </div>
                </div>
            </div>
        
        
    
    
</section>

