<section class="w-screen h-screen flex justify-center items-center bg-[#141414]
">
    
    <div class="absolute top-0 flex justify-between items-center w-screen">
    <div class="flex items-center gap-5">
        <span class="font text-red-500 text-[28px] font-medium p-3 px-8">
        VIDEOFLIX
      </span>

      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Home</a>
      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Shows</a>
      <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Movies</a>
    </div>

    <div class="flex px-8">
        <a class="text-white transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg" href="#">Log Out</a>
    </div>
    </div>

    <div class="bg-slate-800 w-screen h-screen flex justify-center items-center">
        <div class="border-2 w-full h-full flex justify-center items-center">
        <span class="text-white text-5xl">Video Preview</span>
    </div>

    <div class="w-screen flex flex-col self-end h-[30%] absolute p-5 gap-2">
        <span class="text-white text-xl ">Watch List:</span>
       

        <div class="relative flex h-full w-full">

            
        <div #movieListContainer class="movie-list flex gap-3 h-full w-full overflow-hidden ">

         
            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 1</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 2</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 3</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 4</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 5</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 6</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 7</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 8</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 9</span>
            </div>

            <div class="movie min-w-[300px] flex bg-white h-full justify-center items-center">
                <span>Movie Preivew 10</span>
            </div>

            
        </div>

        <div (click)="scrollLeft()" class="arrow-left absolute left-0 w-[5%] h-full flex items-center justify-center bg-black bg-opacity-20 hover:bg-opacity-30 cursor-pointer">
            <img src="../../../../assets/images/arrow_home_left.png">
        </div>

        <div (click)="scrollRight()" class="arrow-right absolute right-0 w-[5%] h-full flex items-center justify-center bg-black bg-opacity-20 hover:bg-opacity-30 cursor-pointer">
            <img src="../../../../assets/images/arrow_home_right.png">
        </div>
    </div>
        
    </div>
    </div>

</section>