 @if(!authenticated){
    <div class="flex justify-center items-center backdrop-blur-xl absolute w-screen h-screen z-[999] max-sm:p-2 max-sm:text-center max-xl:text-center max-xl:p-2">
        <span class="text-white text-2xl max-sm:text-xl">You are currently not logged in. Please log in and then you can enjoy our content.</span>
    </div>
}  
<!-- Nav Bar -->
<nav class="absolute top-0 w-full z-10 max-sm:w-full">
    <div class="nav-bar bg-[#141414]  top-0 flex justify-between items-center w-full ">
    <div class="flex items-center gap-5">
        <span class="font text-red-500 text-[28px] font-medium p-3 px-5">
            VIDEOMIX
      </span>
    </div>

    <div class="flex px-8">
        <a (click)="logoutUser()" class="text-white cursor-pointer transition duration-150 ease-out hover:text-[#e5e5e5] hover:ease-in text-lg">Log Out</a>
    </div>
    </div>
</nav>

<!-- Movie BG Video -->
<section class="w-full h-screen flex justify-center items-center bg-[#141414] 
">
    <div class="bg-[#141414] w-full h-full flex justify-center items-center overflow-hidden ">
        <div class="w-full h-full flex justify-center items-center max-sm:hidden">
           
            <app-video-player [cardMovie]="false" class="h-screen w-screen" [options]="{autoplay: true, fluid: true, controls: false, loop: true, sources: [{ src: 'https://alen-alduk.developerakademie.org/media/videos/finance/finance.mp4', type: 'video/mp4' }]}"></app-video-player>
        </div>

    <!-- Watch List Container -->
    <div class="w-full flex flex-col bottom-4 h-[30%] absolute gap-2 max-sm:h-full">
        <span class="text-white text-xl p-3 px-5 ">Watch List:</span>
       

        <div class="relative flex h-full w-full max-sm:flex-col">

            <!-- Left Scrolling Arrow -->
            <div (click)="scrollLeft()" class="arrow-left    w-[3%] min-h-[200px] max-h-[200px] flex items-center justify-center bg-transparent   cursor-pointer max-sm:hidden">
                <img src="../../../../assets/images/arrow_home_left.png">
            </div>
            
            <!-- Movie Cards -->
        <div #movieListContainer class="movie-list flex gap-4 h-full w-full overflow-hidden max-sm:flex-col max-h-[80%] max-sm:overflow-y-scroll max-sm:mt-5 max-sm:h-full max-sm:max-h-none max-sm:gap-6">

         @for(movie of movieList; track $index; let last = $last){

            @if(last){
                <app-movie-card [imgSrc]="movie.imgSrc!"   [genre]="movie.genre" [description]="movie.description" [title]="movie.title"    customClass=""
                >
                     
                    
                </app-movie-card>
            }
            @else{
                <app-movie-card [imgSrc]="movie.imgSrc!"  [genre]="movie.genre" [description]="movie.description" [title]="movie.title" customClass="hover:mx-12"
                >
                     
                    <img movieCardImage class="rounded-lg w-full h-full" src="">
                </app-movie-card>
            }
            

         }

        </div>

        <!-- Right Scrolling Arrow -->

        <div (click)="scrollRight()" class="arrow-right     w-[3%] min-h-[200px] max-h-[200px] flex items-center justify-center bg-transparent  cursor-pointer max-sm:hidden">
            <img src="../../../../assets/images/arrow_home_right.png">
        </div>
    </div>
        
    </div>
    </div>

            <!-- Movie Details Container  -->
            <div #bgCardContainer [class]="showMovieDetails ? 'visible' : 'hidden'" class=" flex backdrop-blur-sm absolute w-screen h-screen justify-center items-center transition-all ease-in overflow-hidden max-sm:overflow-hidden">

                <div #cardContainer class="bg-[#141414] mt-5 z-50 duration-150 w-[35%]  h-[85%] rounded-lg  bg-opacity-80 flex flex-col p-10 drop-shadow-lg max-sm:w-full max-sm:h-full max-sm:overflow-hidden max-lg:w-[80%] max-xl:w-[60%] max-xl:h-[80%]">
                    <div class="exit max-sm:mt-5 cursor-pointer w-8  self-end" (click)="switchShowMovieDetails()">
                        <img class="w-8" src="../../../../assets/images/x.svg"> 
                    </div>
                   <div class=" video-preview w-full relative h-[50%] mt-5">
                    <div class="absolute right-0 z-20 flex gap-4">
                    <button (click)="switchTo480p()" class="bg-white rounded-sm p-2 px-5">480p</button>
                    <button (click)="switchTo720p()" class="bg-white rounded-sm p-2 px-5">720p</button>
                    </div>
                    
                    @if(showMovieDetails){
                        @if(this.mode480p){
                            <app-video-player [movieTitle]="movieTitle" [cardMovie]="true" class="h-screen w-screen" [options]="{ autoplay: true, controls: true, sources: [{ src: src480p, type: 'application/x-mpegURL' }]}"></app-video-player>
                        }
                        @else if(this.mode720p){
                            <app-video-player [movieTitle]="movieTitle" [cardMovie]="true" class="h-screen w-screen" [options]="{ autoplay: true, controls: true, sources: [{ src: src720p, type: 'application/x-mpegURL' }]}"></app-video-player>
                        }
                        
                    }
                   
                   </div>
                   
                   <div class="title w-full mt-10">
                    <h1 class="text-white max-w-full text-4xl">{{ movieTitle }}</h1>
                   </div>
                   <div class="description text-white  mt-5">
                    <span class="text-xl">Description:</span>
                    <p class="mt-2 text-md">{{ movieDescription }}</p>
                   </div>
            
                   <div class="genre  mt-10">
                    <span class="text-white">Genre: {{ movieGenre }}</span>
                   
                   </div>
                </div>
            </div>
        
        
    
    
</section>

