<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-screen h-screen absolute sepia-[.60] z-[-1]">
    <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
  </div>

  <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
    VIDEOMIX
  </span>

  <div
    class="reset-container flex flex-col h-[65%] w-[35%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl relative"
  >
    <div
      routerLink="/"
      class="arrow-container w-10 h-10 bg-white rounded-full absolute left-10 top-10 flex justify-center items-center cursor-pointer hover:bg-slate-200"
    >
      <img class="w-1/2 h-1/2" src="../../../../assets/images/left-arrow.png" />
    </div>

    <h2
      class="sign-in-text text-center text-4xl text-white mt-14 font-medium w-[80%]"
    >
      Impressum:
    </h2>

    <div class="impressum-text text-white w-full h-full flex flex-col gap-5">
      <p class="text-xl mt-20 flex flex-col gap-2">
        <span>Alen Alduk</span>
        <span>M&uuml;hlweg 27</span>
        <span>63755 Alzenau</span>
      </p>

      <h2 class="text-xl mt-10">Kontakt:</h2>
      <p class="text-xl">
        Telefon: +49 (0) 176 84696005<br />
        E-Mail: mail&#64;alen-alduk.com
      </p>

      <p class="text-xl">Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
  </div>
</section>
