<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-screen h-screen absolute sepia-[.60] z-[-1]">
    <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
  </div>

  <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
    VIDEOFLIX
  </span>

  <div
    class="reset-container flex flex-col h-[90%] w-[35%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl relative"
  >
    <div
      routerLink="/"
      class="arrow-container w-10 h-10 bg-white rounded-full absolute left-10 top-10 flex justify-center items-center cursor-pointer hover:bg-slate-200"
    >
      <img class="w-1/2 h-1/2" src="../../../../assets/images/left-arrow.png" />
    </div>

    <h2
      class="sign-in-text text-center text-4xl text-white mt-14 font-medium w-[80%]"
    >
      Reset your password
    </h2>

    <h3 class="text-lg text-white mt-14 font-medium w-[80%] text-center">
      Type your Email Adress below. If your Email exists, we will send you a
      link via Email to reset your password.
    </h3>

    <div class="email-input p-5 w-[80%] h-[13%] mt-14">
      <input
        type="email"
        class="rounded-xl w-full h-full p-5 bg-black text-white bg-opacity-40"
        placeholder="Email Adress"
      />
    </div>

    <div class="reset-button p-5 w-[80%] h-[13%] mt-5">
      <button
        class="p-2 bg-red-700 font-medium text-lg text-white h-full w-full rounded-xl hover:bg-red-500"
      >
        Reset Password
      </button>
    </div>

    <div class="seperator p-5 w-[80%] h-[13%] flex justify-center items center">
      <span class="text-slate-400 text-xl self-center">OR</span>
    </div>

    <div
      class="new-user-question w-[80%] h-[13%] flex justify-center gap-5 items-center"
    >
      <span class="text-white text-xl">New to Videoflix?</span
      ><a class="text-slate-400 hover:text-red-500 text-xl" href="#"
        >Sign up Now.</a
      >
    </div>
  </div>
</section>
