<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-screen h-screen absolute sepia-[.60] z-[-1]">
    <img class="w-full h-full" src="../../../../assets/images/vf_bg.png" />
  </div>

  <span class="absolute top-5 left-5 font text-red-500 text-[42px] font-medium">
    VIDEOFLIX
  </span>

  <div
    class="reset-container flex flex-col h-[90%] w-[35%] bg-black bg-opacity-50 items-center p-8 drop-shadow-2xl rounded-2xl relative"
  >
    <div
      routerLink="/"
      class="arrow-container w-10 h-10 bg-white rounded-full absolute left-10 top-10 flex justify-center items-center cursor-pointer hover:bg-slate-200"
    >
      <img class="w-1/2 h-1/2" src="../../../../assets/images/left-arrow.png" />
    </div>

    <h2
      class="sign-in-text text-center text-4xl text-white mt-40 font-medium w-[80%]"
    >
      @if(loading){ Verifiying your Email... } @else if(!loading &&
      verifySuccess){ Your Account is verified! } @else { We could'nt verify
      your email. }
    </h2>

    @if(loading){
    <div class="spinner mt-20"></div>
    } @else if(verifySuccess){
    <img class="mt-20" src="../../../../assets/images/check.png" />
    <p class="text-xl text-white text-center mt-20 font-medium w-[80%]">
      You are going to be redirected to the Homepage in 3 Seconds...
    </p>
    } @else {
    <img class="mt-20" src="../../../../assets/images/error.png" />
    <h3 class="text-xl text-white text-center mt-20 font-medium w-[80%]">
      Please contact the Site Administrator for further assistance!
    </h3>
    }

    <div class="flex justify-center items-center gap-5">
      <button class="w-20 h-10 bg-white mt-20" (click)="success()">
        Success
      </button>
      <button class="w-20 h-10 bg-white mt-20" (click)="error()">Error</button>
      <button class="w-20 h-10 bg-white mt-20" (click)="loadingState()">
        Loading..
      </button>
    </div>
  </div>
</section>
